<section class="px-8 sm:px-20 lg:px-40 mb-32">
    <div class="flex justify-between mb-12">
        <h2 class="text-5xl font-thin mb-8 uppercase tracking-wider text-center sm:text-start">Our creations</h2>
        <button class="hidden sm:block uppercase tracking-[0.25em] text-xl border-black border-2 w-40 h-fit py-2 hover:bg-black hover:text-white">See all</button>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <a routerLink="#">
            <div class="container1 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">Deep earth</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container2 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">Night arcade</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container3 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">Soccer team VR</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container4 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">The grid</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container5 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">From up above VR</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container6 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">Pocket borealis</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container7 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">The curiosity</h3>
            </div>
        </a>
        <a routerLink="#">
            <div class="container8 h-[180px] sm:h-[300px] lg:h-[500px] relative p-4 group">
                <h3 class="absolute bottom-8 uppercase text-3xl font-thin text-white z-10 group-hover:text-black">Make it fisheye</h3>
            </div>
        </a>
    </div>
    <div class="flex justify-center sm:hidden">
        <button class="sm:hidden mt-10 uppercase tracking-[0.25em] text-xl border-black border-2 w-40 h-fit py-2 hover:bg-black hover:text-white">See all</button>
    </div>  
</section>
